* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}


.light {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
}

.dark {
  background-color: rgb(200, 70, 91);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
}


.nav2 {
  display: flex;
  gap: 30px;
}

