*{
  box-sizing: border-box;
  font-family: sans-serif;
  background: #000;
  color: white;
}

body{
  margin: 0;
  padding: 0;
}

button{
  background-color: white;
  color: black;
  padding: 10px 40px;
  margin: 20px;
}