.header{
  background-color: rgb(251, 104, 182);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  padding: 10px 20px;
}

.btn{
  background-color: yellow;
}

.logo{
  text-decoration: underline;
}