*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, 'Helvetica Neue', sans-serif;
}

html,
body{
  height: 100%;
  width: 100%;
}

input,
button{
  display: flex;
  margin: 10px;
  padding: 10px 20px;
  border: 2px solid black;
}

button{
border-radius: 5px;
}